
*.obj
*.log
*.tlog
*.txt
*.cache
*.dll
*.dylib
*.xml
*.pdb
*.svg
*.xlsx
*.targets
*.so
*.png
*.p7s
*._
*.lib
*.nupkg
packages/SkiaSharp.2.80.2/build/xamarinwatchos1.0/libSkiaSharp.framework/libSkiaSharp
*.tmp
*.idb
*.metagen
*.plist
*.modulemap
packages/SkiaSharp.2.80.2/build/xamarintvos1.0/libSkiaSharp.framework/_CodeSignature/CodeResources
packages/SkiaSharp.2.80.2/build/xamarinios1.0/libSkiaSharp.framework/libSkiaSharp
packages/SkiaSharp.2.80.2/build/xamarinios1.0/libSkiaSharp.framework/_CodeSignature/CodeResources
*.settings
packages/SkiaSharp.2.80.2/build/xamarinwatchos1.0/libSkiaSharp.framework/_CodeSignature/CodeResources
packages/SkiaSharp.2.80.2/build/xamarintvos1.0/libSkiaSharp.framework/libSkiaSharp
*.cs
*.pdf
*.exe
*.pch
*.recipe
